<div class="lead">Profile</div>
    <div ng-if="onnistunut"> Hello user, {{ userName }} </div>
    <div ng-if="eiOnnistunut">Kirjaudu ensin sisään.</div>
Moi {{user}}
Testi1 {{3+4}}.
Testi2 {{testi2}}.
</br>
farmService.ateTotalGrass = {{farmTieto}}