<h2>Tulokset</h2>
    <div ng-if="onnistunut"> Viime aikaiset tulokset <%=user%></div>  
    <div ng-if="eiOnnistunut">Kirjaudu ensin sisään.</div>

<peliyhteenveto></peliyhteenveto>
<br />

<!--{{alusta()}}
-->
<h3>Tabletti</h3>
<peliyhteenveto2 darray='tablettiArray'></peliyhteenveto2>
<br/>
<h3>Liuos</h3>
<peliyhteenveto2 darray='liuosArray'></peliyhteenveto2>

<h3>Roomalaiset</h3>
<peliyhteenveto2 darray='roomalaisetArray'></peliyhteenveto2>

<h3>Yksikkömuunnos</h3>
<peliyhteenveto2 darray='yksikkoArray'></peliyhteenveto2>

<h3>Reseptit</h3>
<peliyhteenveto2 darray='reseptiArray'></peliyhteenveto2>
