<otsikko2>{{asetukset.otsikko}}</otsikko2>

<div class="lead">Valitse pelimuoto:</div>
<br/>
<div class="lead">    
        <b>5 kysymystä</b> vaikeusasteelta:<br/>
<input type="button" ng-click="mene('/pistepeli/helppo/5')" class="btn btn-primary" value="Helppo">

<input type="button" ng-click="mene('/pistepeli/normaali/5')" class="btn btn-primary" value="Normaali">

<input type="button" ng-click="mene('/pistepeli/vaikea/5')" class="btn btn-primary" value="Vaikea">
<hr>

    <b>10 kysymystä</b> vaikeusasteelta:<br/>
<input type="button" ng-click="mene('/pistepeli/helppo/10')" class="btn btn-primary" value="Helppo">

<input type="button" ng-click="mene('/pistepeli/normaali/10')" class="btn btn-primary" value="Normaali">

<input type="button" ng-click="mene('/pistepeli/vaikea/10')" class="btn btn-primary" value="Vaikea">
<hr>
<!--
Hanki osaamismerkki:<br/>
<input type="button" ng-click="mene('/Badge')" class="btn btn-primary" value="Osaamismerkki">
-->
</div>
