<html ng-app="myApp">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-controller="workController as vm">

<input type="button" value="GET" ng-click="vm.lahetaGET()">
<input type="button" value="POST" ng-click="vm.lahetaPOST()">


<form action="/work" method="post">
	<div>
	<label>Tyyppi:</label>
	<input type="text" name="tyyppi"/>
	<input type="submit" value="Submit"/>
	</div>
</form>

<script>
var myApp = angular.module('myApp',[]);

myApp.controller('workController',function($http){
// Simple GET request example:
this.lahetaGET = function(){
    $http({
        method: 'GET',
        url: '/testJSONGET'}).then(function successCallback(response) {
    console.log("Onnistui:")
    console.dir(response)
    // this callback will be called asynchronously
    // when the response is available
  }, function errorCallback(response) {
    // called asynchronously if an error occurs
    // or server returns response with an error status.
    console.log("Ei onnistunut:"+response)
  });
};



this.lahetaPOST = function() {
    
    
    
        $http({
            method: 'POST',
            url: "/testJSONPOST/",
            data: JSON.stringify({data:123}),
            headers: {'Content-Type': 'application/json'}
            //headers: {'Content-Type': 'application/x-www-form-urlencoded'}
    }).success(function(data, status) {
            console.log("POST onnistui");
            console.dir(data);
        });
    /*
        var data = JSON.stringify({
              data: "123"            
              })
        $http.post("/testJSONPOST/", data).success(function(data, status) {
            console.log("POST onnistui");
            console.dir(data);
        })
*/    }
});
</script>

</body>
</html>